body {
    height: 100%;
    width: auto;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("anastase-maragos-9dzWZQWZMdE-unsplash.jpg");
    background-size:cover;
    background-position: center;
}
