.div1 {
    width: 100px ;
    color:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));


    
}
.img1 {
    width:205vh;
    color:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));


}
.h11 {
    color:#ea1538 ;
    position: absolute;
    top: 100px;
    right:82vh;
    font-size: 43px;
    top:145px;
    font-family: fantasy;   
    letter-spacing: 3px;
}
.botone {
    border: none ;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color:white;
    font-weight: bold;
    font-size: 13px;
    transition: .4s;
    position: absolute;
    top: 80px;
    right:100vh;
    font-size:20px ;
    top:45vh;
}
.botone:hover {
    transform: scale(1.2);
    cursor: pointer;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 3%;
    padding-right: 3%;
    background-colo:white;
    height: 1px;

}
.logo {
    color: white;
    font-size: 28px;
}
span {
    color: #ea1538;
}
nav ul li {
    display:inline-block;
    padding: 10px 20px ;
    
}
nav ul li a {
    text-decoration: none;
    color:#fff;
    font family: Oswald, sans-serif;
    font-weight: bold;
    transition:0.4s ease-in-out ;
}
nav ul li a:hover {
    color: #ea1538;
    transition: .5s;
    
}
.cb1 {    
    border: none ;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    transition: .4s;

    
}
.cb1:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.sub-menu {
    display:none;
    background-color:#ea1538;  
    border: 1px;
    border-radius: 8px;
}
 ul li:hover .sub-menu{ 
    display:block;
    position: absolute;
    margin-top: 7x;
    margin-left:5px ;
    text-decoration: none;
    color: white;    
}
ul li:hover .sub-menu ul a {
    display: flex;
    margin:auto;
    flex-direction: row;
}

